/*////////////////////////////////////////////*/

/*Nav menu*/
header nav ol {
  margin: 0px;
  padding: 15px 15px 15px 30px;
  border-bottom: 1px solid #445878;
}

header nav ol li {
  color: #31353D;
  display: inline;
  margin-right: 40px;
  letter-spacing: 0.07em;
  text-align: center;
}

header nav li a {
  color: #31353D;
  text-decoration: none;
}

header nav li a:hover {
  color: #445878;
  text-decoration: none;
}

header img {
  width: 75px;
  position: absolute;
  top: 0rem;
  right: 5rem;
}

/*////////////////////////////////////////////*/

/*footer*/
footer {
  border-top: 1px solid #445878;
  padding: 15px 15px 15px 30px;
  font-size: 12px;
}


/*////////////////////////////////////////////*/

/*home page*/

.center-box {
  width: 50%;
  margin: auto;
  padding-top: 6rem;
  padding-bottom: 10rem;
}


/*home page form*/
.center-box legend {
  padding: 2rem 1rem 2rem 0rem;
}

.center-box .rows {
  padding: 10px;
}

.center-box #genders {
 width: 50%;
 padding: 2rem 0rem 2rem 0rem;
}

.center-box #conditionList {
  padding: 2rem 0rem 2rem 0rem;
  /*clear:both;*/
}

form #frontSubmitButton {
  top: 2rem;
  left: 2rem;
  position: relative;
  right:    0;
  bottom:   0;
}

/*////////////////////////////////////////////*/

/*about us page*/

.aboutus img {
  max-width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-filter: grayscale(100%);
}

.aboutus img hover {

}


/*////////////////////////////////////////////*/

/*eval page*/

.imgsect {
  width: 80%;
  margin: auto;
}

.imgsect img {
  max-width: 300px;
  max-height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.imgsect button {
  float: right;
}

.evalcontainer {
  padding: 3rem 0rem 3rem 0rem;
}

#eval3 {
  padding-bottom: 5rem;
}

/*////////////////////////////////////////////*/

/*results page*/

#results-box-left {
  padding: 3rem 0rem 3rem 0rem;
}

#results-box-right {
  padding: 3rem 0rem 3rem 0rem;
}

#results-box-left img {
  max-height: 300px;
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*charity info*/

.charity img {
  max-width: 150px;
  /*padding-bottom: 30px;*/
  border: 1px solid #eee;
}
